<?xml version="1.0"?>
<!--
/**
 * @author FYB Romania
 * @copyright Copyright (c) FYB Romania (https://fyb.ro)
 * @package Popup Products for Magento 2
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Fyb\PopupProducts\Api\PopupProductsInterface" type="Fyb\PopupProducts\Model\PopupProductsRepository"/>
</config>
